@media screen and  (max-width: 500px){
    .counteiner {
         height: 500px;
        width: 300px;        
    }
    .headerContent{
        flex-wrap: wrap;
    }
    .subTask {
        margin: 0;
        width: 270px;
    }

    .subTask input{
        margin-right: 0;
        width: 248px;
        margin: 3px;
    }
    .subButton{
        height: 30px;
        width: 30px;
    }
    .ui .calendar {
        width: 123px;
    }
    .subButton{
        top: 1px;
    }
}

@media (max-width: 1200px){
    .counteiner {
        width: 70vmax;
        height: 50vmax;       
    }

 
}
