body
{
    background: url(../../img/background2.jpg) no-repeat fixed !important;
    background-size: cover !important;
    box-sizing: border-box;
    min-width: 330px;
}

header
{   
    padding-top: 1.8vmax;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 5vmax;
    margin-bottom: 1em;
    
}
.logIn
{
    margin: 10px;
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logIn:hover 
{
    background: #7c7c7c6b;
}

.achivement
{
    margin: 10px;
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.achivement:hover 
{
    background: #7c7c7c6b;
}

.mainCont
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.counteiner
{
    width: 60vmax;
    height: 39vmax;

    display: flex;
    flex-direction: column;

    background: rgba(85, 122, 138, 0.577);
    /* background: linear-gradient(186deg, rgba(14,120,166,0.692612079011292) 27%, rgba(233,161,164,0.6589986336331408) 79%); */

    border-radius: 2vmax;
    padding: 1vmax;

    
}

.ui.form .two.fields>.field
{
    width: fit-content !important;
    margin: 1em;
}

.ui .calendar
{
    width: 160px;
    background: rgb(14,120,166);
    background: linear-gradient(186deg, rgba(14,120,166,0.692612079011292) 27%, rgba(233,161,164,0.6589986336331408) 79%);   
}

.avatar
{

    /* transform: translate(-50%); */
    width: 7vmax;
    height: 7vmax;
    overflow: hidden;
    background: rgb(162, 153, 153);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    margin: 1em;
}

.ava
{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.urName
{
    margin: 1em;
    text-shadow: -1px 1.5px  rgba(255, 255, 255, 0.33);
}

.subTask input
{
    border: none;
    outline: none;

    padding: 10px 15px;
    border-radius: 1em;

    background: #fffefe9e;
    color: rgb(74, 68, 68);

    width: 90%;

    font-family: inherit;
    font-size: 120%;

	margin: 10px;
    
    
}
.subTask
{
    position: relative;
}


.headerContent
{
    display: flex;
    width: 100%;
    padding-left: 2vmax;
    padding-right: 2vmax;
}
.subCounteiner
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userTask
{
    width: 100%;

    box-sizing: border-box;
   
    border-radius: 1.5vmax;
    padding: 1vmax;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s;
    overflow-y: auto;
    margin-top: 20px;
    
}

.taskTest
{
    display: flex;
    align-items: center;
    background-color: #fffefe43;
    width: fit-content;
    padding: 0.5em;
    margin: 0.25em;
    position: relative;
    

}

.taskTexst
{
    color: rgb(74, 68, 68);
    margin: 0 0.8em 0 ;
    max-width: 200px;
    overflow-y: auto;

}

.gotovo
{   
    background-color: #fffefe43;
    color: black;
    padding: 5px;
    margin: 10px;
    width: 100px;
    text-align: center;
    border-radius: 9px;

    box-shadow: -2px 4px 35px -4px rgba(41,202,37,0.82);
    -webkit-box-shadow: -2px 4px 35px -4px rgba(41,202,37,0.82);
    -moz-box-shadow: -2px 4px 35px -4px rgba(41,202,37,0.82);

    animation: voo 2.5s infinite ;
}



@keyframes voo
{
    0% {box-shadow: -2px 4px 35px -4px rgba(41,202,37,0); }
    50% { box-shadow: -2px 4px 35px -4px rgba(41,202,37,1); }
    100% {box-shadow: -2px 4px 35px -4px rgba(41,202,37,0); }
}


.style
{
    width: 120px !important;
    margin-left: 10px !important;
}

.label
{
    color: rgb(74, 68, 68) !important;
}


.subButton
{
    position: absolute;
    top: 6px;
    right: 20px;
    margin: 8px;
    border-radius: 50%;
    border: none;
    height: 34px;
    width: 34px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.subButton:hover 
{
    background: #7c7c7c6b;
}

.popupAchive {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgba(240, 248, 255, 0.856);
    
}

.popup__close:hover
{
    color: #fffefe9e;
}

.popupAchive.open {
    opacity: 1;
    visibility: visible;
}

.popupAchive.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;

    justify-content: center;
    padding: 60px 0 0 0;
}

.popup__content {
    background: rgb(14,120,166);
    background: linear-gradient(186deg, rgba(14,120,166,0.692612079011292) 27%, rgba(233,161,164,0.6589986336331408) 79%);
    color: rgb(6, 5, 5);
    width: 300px;
    height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%) rotateX(50deg) ;
}

.popup__title {
    font-size: 20px;
}


h2
{
    text-align: center;
    margin: 10px 0 15px;
}

.rang
{
    width: 280px;
    height: 300px;
    overflow: hidden;
    background: rgb(162, 153, 153);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    margin: 1em;
    align-self: center;
}
.svin_v_bolote
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}



.middleCont
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.urTask
{
    display: flex;
    padding: 0 0 10px 10px;
    justify-content: flex-end;
}
.urTask button 
{
    margin-left: 10px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: rgba(37, 123, 160, 0.407);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    text-transform: uppercase;
    box-shadow: -1px 1px rgba(65, 71, 73, 0.581);
}

.urTask button:hover
{
    background: rgba(11, 82, 113, 0.595);
    color: aliceblue;
}

.urTask button:active
{
    transform: translate(0, -15%);
}

.noContent
{
    display: none;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: all ease-in-out 0.25s;
}

.ui.checkbox
{
    
}

.ui.checkbox::before
{
    content: 'Press to complite';
    width: 115px;
    padding: 3px;
    border-radius: 5px;
    background-color: aliceblue;

    position: absolute;
    top: -35px;
    left: 30px;

    display: none;
    
}


.ui.checkbox:hover::before
{
    display: block;
}